// Write your overrides
@import "./variables/vuetify" ;

.layout-vertical-nav .nav-header {
  margin-inline: 10px !important;

  svg.logo {
    block-size: 50px;
    inline-size: 50px;
  }
}

.required {
  &::before {
    color: red; // Change the color to your preference
    content: "*";
    margin-block: 0;
    margin-inline: 2px; // Adjust the spacing between the label text and the star
  }
}

.flatpickr-calendar {
  z-index: 222222 !important;
}

.tableHover {
  cursor: pointer;
}
